[submodule "CoffeeScript"]
	path = CoffeeScript
	url = http://github.com/jashkenas/coffee-script-tmbundle
[submodule "Shell Turtlestein"]
	path = Shell Turtlestein
	url = http://github.com/misfo/Shell-Turtlestein.git
[submodule "SublimePrettyJson"]
	path = SublimePrettyJson
	url = https://github.com/dzhibas/SublimePrettyJson.git
